@import '../scss/colors.scss';

.header-wrapper {
    padding-top: 65px;
    background-color: $black;

    .categories-container {
        height: 55px;
        background-color: $gray;
        overflow-x: auto;
    }
}